{% extends 'order/order_base.html'%}
 
	<h1>HI</h1>
 
{% block title %}
		
	Детализация доставки
{% endblock %}


{% block content %}
	<ul class="list-group list-group-flush">
		<li class="list-group-item">Номер заказа {{delivery.order_number}}</li>
		<li class="list-group-item">Заказчик {{delivery.orderer.username}}</li>
		<li class="list-group-item">Доставщик-{{delivery.deliver}}</a></li>
  	  	<li class="list-group-item">Офис-{{delivery.start_point.name}}</li>
  	  	<li class="list-group-item">Пункт доставки-{{delivery.delivery_point}}</li>
		<li class="list-group-item">Дата-{{delivery.date_created}}</li>
		<li class="list-group-item">Стоимость доставки-{{delivery.delivery_cost}}</li>
		<li class="list-group-item">Статус заказа-{{delivery.delivery_status}}</li>
	  <p>Дополнительная ифнормация</p>
  	  	<li class="list-group-item">{{delivery.description}}</li>
 	 </ul>

	</div>

	{% if request.user.is_authenticated %}
		<div class="obj-panel">
			 <p>Выбрать</p>
				 {% block obj-panel%}
					<a class="btn btn-light" href="{%url 'update_delivery_url' pk=delivery.id%}">Редктировать</a>
					<a class="btn btn-danger" href="{{delivery.get_delete_url}}">Del</a>
					<a class="btn btn-light" href="{% url 'list_deliveres_url'%}">Вернуться к списку</a>
				 {%endblock%}
		</div>
	{% endif%}

{% endblock %} 

<!--{flat.get_absolute_url}-->
