{% extends 'order/order_base.html'%}
 
	<h1>HI</h1>
 
{% block title %}
		
	Детализация заказа
{% endblock %}


{% block content %}
	<ul class="list-group list-group-flush">
		<li class="list-group-item">Название {{office.name}}</li>
		<li class="list-group-item">Город {{office.city}}</li>
		<li class="list-group-item">Улица-{{office.street}}</a></li>
  	  	<li class="list-group-item">Дом-{{office.building}}</li>
  	  	<li class="list-group-item">Номер офиса-{{office.office}}</li>
		<li class="list-group-item">Выполненных доставок: {{office.get_count_delivered_orders|length}} на сумму: {{office.get_sum_delivered_orders}}</br>
									Отмененных доставок: {{office.get_count_canceled_orders|length}} на сумму: {{office.get_sum_canceled_orders}}</br>
									В работе доставок:{{office.get_count_on_work_orders|length}} на сумму: {{office.get_sum_on_work_orders}}</br>
									</br>
									Кол-во доставок всего-{{office.get_count_all_orders|length}} на сумму: {{office.get_sum_all_orders}}</li>
		<li class="list-group-item">Список заказчиков-{%for person in office.get_orderers%}<a href="{{person.profile.user.get_absolute_url}}"> {{person.username}}, </a>{%endfor%}</li>

	{{s}}
 	 </ul>

	</div>

	{% if request.user.is_authenticated %}
		<div class="obj-panel">
			 <p>Выбрать</p>
				 {% block obj-panel%}
					<a class="btn btn-light" href="">Редктировать</a>
					<a class="btn btn-danger" href="">Del</a>
					<a class="btn btn-light" href="{% url 'list_offices_url'%}">Вернуться к списку</a>
				 {%endblock%}
		</div>
	{% endif%}

{% endblock %} 

<!--{flat.get_absolute_url}-->
