{% extends 'order/order_base.html'%}

<h1 xmlns="http://www.w3.org/1999/html">HI</h1>
 
{% block title %}
		
	Офисы
{% endblock %}


{% block content %}
	<style>
		table {
 		 font-family: arial, sans-serif;
 		 border-collapse: collapse;
 		 width: 40%;
		}

		td, th {
  		border: 1px solid #dddddd;
  		text-align: left;
  		padding: 8px;
		}

		tr:nth-child(even) {
  		background-color: #dddddd;
		}
	</style>

	<table>
  		<tr>
   			 <th style="width:5%">Название</th>
			 <th style="width:5%">Город</th>
			 <th style="width:5%">Улица</th>
			 <th style="width:5%">Номер дома</th>
			 <th style="width:5%">Номер офиса</th>
  		 </tr>
		
	{% for office in officess %}
	
		<tr>
			<td style="font-size:80%"> <a href="{{office.get_absolute_url}}"> {{office.name}}</a></td>
			<td style="font-size:80%;">{{office.city}}</td>
			<td style="font-size:80%;">{{office.street}}</td>
			<td style="font-size:80%;">{{office.building}}</td>
			<td style="font-size:80%;">{{office.office}}</td>
		</tr>		
	  	
	{%endfor%}
	
		
	</table>


<a class="btn btn-primary" href="{% url 'search_office_url' %}" role="button">Новый поиск</a>


{% endblock %} 

<!--{flat.get_absolute_url}-->
